.yaft-table {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.thead-container, .tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: whiteSmoke;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
}


.tr {
  border: 1px solid black;
  border-top: 0;
}

.td, .th {
  text-align: left;
  flex: 1;
  display: flex;
  padding: 0.25em 0.5em;
  align-items: center;
}
